html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #FEFEFE;
}

body {
    margin: 0; padding: 0; height: 100vh; width: 100vw; background-image: linear-gradient(to right top, #051937, #011927, #001f22, #00311e, #2c3f04); position: relative; overflow: hidden;
}

.earth {
    height: 60vh; width: 60vh; background-color: #FEFEFE; border-radius: 60vh; position: absolute; bottom: -40%; right: 10%;
}

#selectQ {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.selectElem {
    margin: 0.8rem;
    padding: 1rem;
    color: #252525;
    border-radius: 1rem;;
    background-color: #FEFEFE;
    transition: all 0.5s ease;
    border: none;
    font-size: 18px;
}

.chevron {
    padding: 0 1rem; display: flex; flex-direction: column;
}

.cursorPointer {
    cursor: pointer;
}

.selectElemSort {
    display: flex;
    align-items: center;
}

.widthFull {
    width: 100%;
}

.selectElem:hover {
    scale: 0.99;
    background-color: #cecece;
}